.main{
  background: linear-gradient(87.26deg, #3793FF -3.49%, #0017E4 97.72%),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  ;
}

.special{
  background: linear-gradient(67.84deg, #01A8C4 -1.82%, #FBFE7F 106.59%);
}

.gallery-items{
  flex: 1 0 auto;
  overflow: hidden;
}

#slideContainer>div {
  animation: slider 120s -120s  linear  infinite ;
  will-change: transform;
}


#slideContainer> div:last-child{
  animation: slider2 120s -60s   linear infinite;

}

#slideContainer2>div {
  animation: slider3  120s -120s  linear  infinite ;
  will-change: transform;
}
#slideContainer2>div:last-child {
  animation: slider4  120s -60s  linear  infinite ;
}
#slideContainer2>div {
  animation: slider 120s -120s  linear  infinite reverse ;
  will-change: transform;
}

#slideContainer:hover>div, #slideContainer2:hover>div {
  animation-play-state:paused
}


@keyframes slider {
  0%{
    transform: translateX(100%);
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes slider2 {
  0%{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-200%);
  }
}

@keyframes slider3 {
  0%{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(100%);
  }
}

@keyframes slider4 {
  0%{
    transform: translateX(-200%);
  }
  to{
    transform: translateX(0%);
  }
}

/* <div className="img1 w-[172px] hover:w-[368px] h-[368px] hover:z-10   rounded-[20px] p-[10px] bg-white bg-opacity-30 ease-in-out transition-all grayscale hover:filter-none relative overflow-hidden group flex-shrink-0 hover:flex-grow 1s">
          <div className="hidden absolute  bottom-[2%] special p-[10px] w-[347px] rounded-b-[15px] group-hover:block">
            <h1 className="text-white font-[500] text-[18px] leading-7">Event Name</h1>
            <h1 className="text-white font-[400] text-[14px] leading-[21px]">Short description of the event, may be add date, location and other information.</h1>
          </div>
          <img className="w-[368px] h-[350px] rounded-[16px] object-cover" src={img1} alt="" />
</div> */
